<h1>Welcome!</h1>

<%= link_to 'Daily Reports', daily_reports_path %><br>
<%= link_to 'Bank', transactions_path %><br>
<%= link_to 'Bank Summary Report', report_transactions_path %><br>
<%= link_to 'Payouts Report', payoutsreport_daily_reports_path %>
